#!/bin/sh

apps=(
    arc-icon-theme
    arc-gtk-theme
    checkupdates-aur
    mkinitcpio-firmware
    neovim-drop-in
    swaylock-effects
    shotman
    wdisplays
)

yay --removemake --nocleanmenu --nodiffmenu --noeditmenu -Sy \
    "${apps[@]}"
