@import "./colors.css";

* {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
}

window#waybar {
  background: @crust;
  color: @text;
  border-bottom: 1px solid @mantle;
}

#workspaces {
  margin: 4px 8px;
  padding: 2px 4px;
  background: @base;
  border-radius: 16px;
}

#workspaces button {
  padding: 0px;
  margin: -2px;
  color: @subtext0;
}

#workspaces button label {
  padding: 0;
  margin-left: -4px;
  font-size: 16px;
}

#workspaces button.active {
  color: @highlight;
}

#workspaces button:hover {
  background: @surface0;
  color: @highlight;
  border-radius: 999px;
}

#clock {
  margin: 6px 4px;
  padding: 2px 10px;
  border-radius: 16px;
  background: @base;
  color: @text;
}

#battery {
  margin: 6px 4px;
  padding: 2px 10px;
  border-radius: 16px;
  background: @base;
  color: @text;
}

#language {
  margin: 6px 4px;
  padding: 2px 10px;
  border-radius: 16px;
  background: @base;
  color: @text;
}

#custom-power {
  margin: 6px 4px;
  padding: 0 6px;
  background: transparent;
  color: @text;
  font-size: 18px;
}

#taskbar {
  background: @crust;
  padding: 2px 10px;
}

#taskbar button {
  padding: 2px;
  min-width: 20px;
}

#taskbar button image {
  margin-left: 6px;
  margin-right: 6px;
}

#taskbar button.active {
  background: linear-gradient(@highlight, @highlight) top center / 65% 1px no-repeat;
}
