// niri configuration
// https://yalter.github.io/niri/Configuration%3A-Introduction.html

spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &"

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:rctrl_rshift_toggle,compose:ralt,ctrl:nocaps"
        }
        track-layout "global"
        numlock
    }
    touchpad {
        tap
        dwt
        scroll-method "two-finger"
    }
}

layout {
    gaps 12
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    border {
        off
        urgent-color "#9b0000"
    }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/niri-%Y-%m-%d_%H-%M-%S.png"

window-rule {
    match app-id=r#"Pinentry.*"#
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
}

window-rule {
    match app-id="^gimp"
    default-column-width { fixed 1200; }
}

window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

binds {
    // core keybinds
    Mod+Q repeat=false { close-window; }
    Mod+O repeat=false { toggle-overview; }
    Super+Shift+L hotkey-overlay-title="Lock Screen" { spawn "swaylock"; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    // application keybinds
    Mod+D hotkey-overlay-title="Application Launcher" { spawn "fuzzel"; }
    Mod+Return hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+W hotkey-overlay-title="Browser" { spawn "firefox"; }
    Mod+Shift+W hotkey-overlay-title="Browser (private)" { spawn "firefox" "-private-window"; }

    // screenshot
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // turn off monitors
    Mod+Shift+P { power-off-monitors; }

    // quit
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // global escape for keyboard inhibiting
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // multimedia controls
    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop         allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // ---
    // tiling keybinds
    // ---

    // focus inside column
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Home  { focus-column-first; }
    Mod+End   { focus-column-last; }

    // move inside column
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+Home  { move-column-to-first; }
    Mod+Ctrl+End   { move-column-to-last; }

    // workspace
    Mod+Page_Down       { focus-workspace-down; }
    Mod+Page_Up         { focus-workspace-up; }
    Mod+U               { focus-workspace-down; }
    Mod+I               { focus-workspace-up; }
    Mod+Ctrl+Page_Down  { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up    { move-column-to-workspace-up; }
    Mod+Ctrl+U          { move-column-to-workspace-down; }
    Mod+Ctrl+I          { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // switch between current and previous workspace
    Mod+Tab { focus-workspace-previous; }

    // direct workspace hotkeys
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }

    // mouse navigation (no touchpad)
    Mod+WheelScrollDown        cooldown-ms=50  { focus-column-right; }
    Mod+WheelScrollUp          cooldown-ms=50  { focus-column-left; }
    Mod+Shift+WheelScrollDown  cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp    cooldown-ms=150 { focus-workspace-up; }

    // multi-monitor
    Mod+Shift+Left       { focus-monitor-left; }
    Mod+Shift+Down       { focus-monitor-down; }
    Mod+Shift+Up         { focus-monitor-up; }
    Mod+Shift+Right      { focus-monitor-right; }
    Mod+Shift+H          { focus-monitor-left; }
    Mod+Shift+J          { focus-monitor-down; }
    Mod+Shift+K          { focus-monitor-up; }
    Mod+Shift+L          { focus-monitor-right; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // consume/expel windows
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // resizing
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    // finer resizing
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // centering
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    // floating toggle
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // toggle tabbed
    Mod+T { toggle-column-tabbed-display; }

}

environment {
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"

    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    GDK_BACKEND "wayland,x11"

    MOZ_ENABLE_WAYLAND "1"
    MOZ_DBUS_REMOTE "1"

    _JAVA_AWT_WM_NONREPARENTING "1"
}
