// niri configuration
// https://yalter.github.io/niri/Configuration%3A-Introduction.html

spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &"

include "misc.kdl"          // hotkey-overlay, csd, screenshot path
include "input.kdl"         // keyboard & touchpad
include "layout.kdl"        // gaps, column widths, focus-ring, border
include "window-rules.kdl"  // per-app window rules & matching
include "binds.kdl"         // key bindings
include "cursor.kdl"        // cursor theme & size
include "environment.kdl"   // session environment variables
