layout {
    gaps 10
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        active-color "#7287fd"
        inactive-color "#45475a"
    }
    border {
        off
        urgent-color "#f38ba8"
    }
}
